{% set form = this.beginWidget('CActiveForm', {
	'id': 'lost-password-form',
	'enableClientValidation': true,
	'clientOptions': {
		'inputContainer': '.control-group',
		'validateOnSubmit': true,
	},
	'errorMessageCssClass': 'help-inline',
	'htmlOptions': {
		'class': 'form-horizontal',
	},
}) %}

  <div class="control-group">
    {{ form.labelEx(model, 'email', {'class': 'control-label'}) }}
    <div class="controls">
      {{ form.textField(model, 'email') }}
      {{ form.error(model, 'email') }}
    </div>
  </div>

  <div class="control-group buttons">
    <div class="controls">
      {{ C.Html.submitButton(t('sourcebans', 'Submit'), {'class': 'btn btn-warning'}) }}
    </div>
  </div>

{% do this.endWidget %}