<div class="media">
  <div class="media-body">
    <em class="pull-right">{{ App.format.formatDatetime(data.create_time) }}</em>
    <h4 class="media-heading">{{ data.admin.name|e }}</h4>
    {{ data.message }}
  </div>
</div>