{% if App.user.data.hasPermission('LIST_GROUPS') %}
    <section class="tab-pane fade" id="pane-list">
{% do this.widget('zii.widgets.grid.CGridView', {
	'id': 'server-groups-grid',
	'dataProvider': server_groups.search,
	'columns': [
		{
			'header': t('sourcebans', 'Server group'),
			'name': 'name',
		},
		{
			'headerHtmlOptions': {
				'class': 'nowrap',
			},
			'htmlOptions': {
				'class': 'nowrap',
			},
			'name': 'immunity',
		},
		{
			'headerHtmlOptions': {
				'class': 'nowrap',
			},
			'htmlOptions': {
				'class': 'nowrap',
			},
			'name': 'adminsCount',
		},
		{
			'class': 'CButtonColumn',
			'buttons': {
				'update': {
					'visible': 'Yii::app()->user->data->hasPermission("EDIT_GROUPS")',
				},
				'delete': {
					'visible': 'Yii::app()->user->data->hasPermission("DELETE_GROUPS")',
				},
			},
			'template': '{update} {delete}',
			'updateButtonLabel': t('sourcebans', 'Edit'),
			'updateButtonUrl': 'Yii::app()->createUrl("groups/edit", array("id" => $data->primaryKey, "type" => "server"))',
			'deleteButtonUrl': 'Yii::app()->createUrl("groups/delete", array("id" => $data->primaryKey, "type" => "server"))',
			'visible': App.user.data.hasPermission('DELETE_GROUPS', 'EDIT_GROUPS'),
		},
	],
	'cssFile': false,
	'itemsCssClass': 'items table table-accordion table-condensed table-hover',
	'pager': {
		'class': 'bootstrap.widgets.TbPager',
	},
	'pagerCssClass': 'pagination pagination-right',
	'summaryCssClass': '',
	'summaryText': false,
}) %}

{% do this.widget('zii.widgets.grid.CGridView', {
	'id': 'groups-grid',
	'dataProvider': groups.search,
	'columns': [
		{
			'header': t('sourcebans', 'Web group'),
			'name': 'name',
		},
		{
			'headerHtmlOptions': {
				'class': 'nowrap',
			},
			'htmlOptions': {
				'class': 'nowrap',
			},
			'name': 'adminsCount',
		},
		{
			'class': 'CButtonColumn',
			'template': '{update} {delete}',
			'updateButtonLabel': t('sourcebans', 'Edit'),
			'updateButtonUrl': 'Yii::app()->createUrl("groups/edit", array("id" => $data->primaryKey, "type" => "web"))',
			'deleteButtonUrl': 'Yii::app()->createUrl("groups/delete", array("id" => $data->primaryKey, "type" => "web"))',
			'visible': App.user.data.hasPermission('DELETE_GROUPS', 'EDIT_GROUPS'),
		},
	],
	'cssFile': false,
	'itemsCssClass': 'items table table-accordion table-condensed table-hover',
	'pager': {
		'class': 'bootstrap.widgets.TbPager',
	},
	'pagerCssClass': 'pagination pagination-right',
	'summaryCssClass': '',
	'summaryText': false,
}) %}
    </section>
{% endif %}
{% if App.user.data.hasPermission('ADD_GROUPS') %}
    <section class="tab-pane fade" id="pane-add">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label required" for="type">{{ t('sourcebans', 'Type') }}</label>
          <div class="controls">
            <select id="type" name="type">
              <option value="server">{{ t('sourcebans', 'Server group') }}</option>
              <option value="web">{{ t('sourcebans', 'Web group') }}</option>
            </select>
          </div>
        </div>
      </form>
{% do this.renderPartial('/groups/_server_form', {
	'action': {0: 'groups/add', 'type': 'server'},
	'model': server_group,
}) %}
{% do this.renderPartial('/groups/_web_form', {
	'action': {0: 'groups/add', 'type': 'web'},
	'model': group,
}) %}
    </section>
    <section class="tab-pane fade" id="pane-import">
{% do this.renderPartial('/groups/_import') %}
    </section>
{% endif %}

{% do App.clientScript.registerScript('type_change', '
  $("#type").change(function() {
    $form = $(this).val() == "web" ? $("#group-form") : $("#server-group-form");
    $("#group-form, #server-group-form").not($form).slideUp(250);
    $form.slideDown(250);
  }).trigger("change");
') %}