    <section class="tab-pane fade" id="pane-settings">
{% do this.renderPartial('/settings/_form', {'model': settings}) %}
    </section>
    <section class="tab-pane fade" id="pane-plugins">
{% do this.widget('zii.widgets.grid.CGridView', {
	'id': 'plugins-grid',
	'dataProvider': plugins,
	'columns': [
		{
			'header': t('sourcebans', 'Name'),
			'name': 'name',
			'value': '!empty($data->name) ? $data->name : $data->class',
		},
		{
			'header': t('sourcebans', 'Version'),
			'headerHtmlOptions': {
				'class': 'nowrap text-right',
			},
			'htmlOptions': {
				'class': 'nowrap text-right',
			},
			'name': 'version',
		},
		{
			'header': t('sourcebans', 'Author'),
			'headerHtmlOptions': {
				'class': 'nowrap',
			},
			'htmlOptions': {
				'class': 'nowrap',
			},
			'name': 'author',
			'type': 'raw',
			'value': '!empty($data->url) ? CHtml::link(CHtml::encode($data->author), $data->url, array("target"=>"_blank")) : CHtml::encode($data->author)',
		},
		{
			'class': 'CButtonColumn',
			'buttons': {
				'settings': {
					'imageUrl': false,
					'label': t('sourcebans', 'views.admin.settings.plugins.grid.settings'),
					'url': 'Yii::app()->createUrl("plugins/settings", array("id" => $data->id))',
					'visible': '$data->status && $data->getViewFile("settings")',
				},
			},
			'template': '{settings}',
		},
		{
			'header': false,
			'htmlOptions': {
				'class': 'nowrap',
			},
			'name': 'status',
			'type': 'raw',
			'value': 'CHtml::link(Yii::t("sourcebans", $data->action), "#", array("class"=>"link-action", "data-action"=>strtolower($data->action)))',
		},
	],
	'cssFile': false,
	'itemsCssClass': 'items table table-accordion table-condensed table-hover',
	'pager': {
		'class': 'bootstrap.widgets.TbPager',
	},
	'pagerCssClass': 'pagination pagination-right',
	'rowHtmlOptionsExpression': 'array(
		"class"=>($data->isEnabled ? "enabled" : "disabled") . (empty($data->name) ? " error" : ""),
		"data-id"=>$data->id,
	)',
	'selectableRows': 0,
	'summaryCssClass': '',
	'summaryText': false,
}) %}
    </section>
    <section class="tab-pane fade" id="pane-logs">
{% do this.widget('zii.widgets.grid.CGridView', {
	'id': 'logs-grid',
	'dataProvider': logs.search,
	'columns': [
		{
			'header': false,
			'headerHtmlOptions': {
				'class': 'nowrap',
			},
			'htmlOptions': {
				'class': 'nowrap',
			},
			'name': 'type',
			'type': 'raw',
			'value': '($types = SBLog::getTypes()) ? $types[$data->type] : null',
		},
		'title',
		'admin.name',
		{
			'headerHtmlOptions': {
				'class': 'nowrap text-right',
			},
			'htmlOptions': {
				'class': 'nowrap text-right',
			},
			'name': 'create_time',
			'type': 'datetime',
		},
	],
	'cssFile': false,
	'itemsCssClass': 'items table table-accordion table-condensed table-hover',
	'pager': {
		'class': 'bootstrap.widgets.TbPager',
	},
	'pagerCssClass': 'pagination pagination-right',
	'rowHtmlOptionsExpression': 'array(
		"data-id"=>$data->id,
	)',
	'selectableRows': 0,
}) %}
    </section>

{% do App.clientScript.registerCoreScript('jquery.ui') %}
{% do App.clientScript.registerScript('plugins_settings', '
  $(document).on("click", "#plugins-grid .link-action", function(e) {
    e.preventDefault();
    var data = {
      action: $(this).data("action"),
      id: $(this).parents("tr").data("id")
    };
    if(data["action"] == "uninstall" && !confirm("' ~ t('sourcebans', 'Are you sure you want to uninstall this plugin?\\nThis will delete all its data!') ~ '"))
      return;
    
    $.post("' ~ this.createUrl('plugins/__ACTION__', {'id': '__ID__'}) ~ '".replace(/__(\w+)__/g, function(str, key) {
      return data[key.toLowerCase()] || str;
    }), function(result) {
      if(result.error) {
        $.alert(result.error.message, "error");
        return;
      }
      
      $("#plugins-grid").yiiGridView("update");
    }, "json");
  });
') %}